* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #008000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 60%;
  margin-bottom: 10px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

input:focus {
  border-color: #007bff;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 70%;
  right: 14px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  background: none;
  border: none;
}

button.login-btn {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button.login-btn:hover {
  background-color: #005fc0;
}

.error-message {
  color: black;
  background-color: yellow;
  border: 1px solid white;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
  margin-top: 6px;
  display: none;
}
