{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--link rel="icon" href="{% static 'img/core-img/favicon.ico' %}"-->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <!-- Aqui entra o conteúdo das páginas -->
    {% block content %}{% endblock %}
    <!-- BLOCO PARA SCRIPTS -->
    {% block scripts %}
        <script src="{% static 'js/login.js' %}"></script>
    {% endblock %}

</body>
</html>
