{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="logo">
      <img src="{% static 'img/logo FBS AGRO.png' %}" alt="FBS Agro Logo">
    </div>

    {% if messages %}
      {% for message in messages %}
        <h3 style="color:yellow;">{{ message }}</h3>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="usuario">Usuário</label>
        <input type="text" id="usuario" name="usuario" placeholder="Digite seu usuário">
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <div class="password-container">
          <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
          <button class="toggle-password" type="button" onclick="togglePassword()">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#1f1f1f"><path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg>
          </button>
        </div>
      </div>

      <button class="login-btn" type="submit">Login</button>
    </form>
</div>

<!-- JS EXTERNO -->
<script src="{% static 'js/login.js' %}"></script>

{% endblock %}
