{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Início - FBS Agro</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
</head>

<body>

<!-- SIDEBAR -->
<aside class="sidebar" id="sidebar">

    <div class="brand">
        <div class="logo">
            <img src="{% static 'img/logo FBS AGRO.png' %}" alt="logo">
        </div>
    </div>

    <nav class="menu">
        <div class="menu-group">

            <!-- INÍCIO -->
            <div class="menu-item" onclick="showScreen('home')">
                <div class="label">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" 
                             viewBox="0 -960 960 960" width="48px" fill="#FFFFFF">
                             <path d="M225.39-185.39h155.76v-244.99h197.7v244.99h155.76v-381.92L480-759.23 225.39-567.44v382.05ZM180-140v-450l300-225.77L780-590v450H533.46v-245H426.54v245H180Zm300-332.62Z"/>
                        </svg>

                    </div>
                    <div class="text">Início</div>
                </div>
            </div>

            <!-- CADASTROS -->
            <div class="menu-item" onclick="toggleSub('m1')">
                <div class="label">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" 
                             viewBox="0 -960 960 960" width="48px" fill="#FFFFFF">
                             <path d="M247.77-372.23h346.15l45.39-45.38H247.77v45.38Zm0-173h213.31v-45.38H247.77v45.38ZM145.39-694.61V-266h342.3l-46 46H100v-520h760v147.08h-45.39v-101.69H145.39Zm743.07 210.76q4.61 4.44 4.61 11.35 0 6.91-4.61 11.35l-34.69 34.69-36.16-36.15 36.02-36.02q4.52-4.52 9.77-4.52 5.26 0 9.98 4.61l15.08 14.69Zm-355 342.31v-36.15l259.69-259.69 36.16 36.15-259.7 259.69h-36.15ZM145.39-694.61V-266v-428.61Z"/>
                        </svg>
                    </div>
                    <div class="text">Cadastros</div>
                </div>
                <div class="arrow">›</div>
            </div>

            <div class="submenu" id="m1">
                <a href="#" onclick="showScreen('prod-list')">Grupo de Propriedade</a>
                <a href="#" onclick="showScreen('prod-create')">Propriedade</a>
                <a href="#" onclick="showScreen('prod-cats')">Categorias</a>
            </div>

            <!-- MOVIMENTAÇÃO -->
            <div class="menu-item" onclick="toggleSub('m2')">
                <div class="label">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" 
                            viewBox="0 -960 960 960" width="48px" fill="#FFFFFF">
                            <path d="m437.62-414.15 201.99-201.23-32.61-32-169.59 170-84.79-85-32.62 32 117.62 116.23ZM55.39-150.77v-45.39h849.22v45.39H55.39Zm102.3-100q-23.53 0-40.61-17.08T100-308.46v-444.61q0-23.53 17.08-40.62 17.08-17.08 40.61-17.08h644.62q23.53 0 40.61 17.08Q860-776.6 860-753.07v444.61q0 23.53-17.08 40.61t-40.61 17.08H157.69Zm0-45.38h644.62q4.61 0 8.46-3.85 3.84-3.85 3.84-8.46v-444.61q0-4.62-3.84-8.47-3.85-3.84-8.46-3.84H157.69q-4.61 0-8.46 3.84-3.84 3.85-3.84 8.47v444.61q0 4.61 3.84 8.46 3.85 3.85 8.46 3.85Zm-12.3 0v-469.23 469.23Z"/>
                        </svg>
                    </div>
                    <div class="text">Movimentação</div>
                </div>
                <div class="arrow">›</div>
            </div>

            <div class="submenu" id="m2">
                <a href="#" onclick="showScreen('profile')">Perfil</a>
                <a href="#" onclick="showScreen('prefs')">Preferências</a>
            </div>

            <!-- RELATÓRIOS -->
            <div class="menu-item" onclick="showScreen('reports')">
                <div class="label">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48px" 
                             viewBox="0 -960 960 960" width="48px" fill="#FFFFFF">
                             <path d="M330-497.31v-45.38h300v45.38H330Zm0-160v-45.38h300v45.38H330ZM225.39-382.69H540q24.83 0 45.91 11.04 21.09 11.04 36.32 30.27L734.61-195v-607.31q0-5.38-3.46-8.84t-8.84-3.46H237.69q-5.38 0-8.84 3.46t-3.46 8.84v419.62Zm12.3 237.3H715L586.39-313.62q-8.34-11.03-20.5-17.36-12.15-6.33-25.89-6.33H225.39v179.62q0 5.38 3.46 8.84t8.84 3.46ZM722.31-100H237.69q-23.53 0-40.61-17.08T180-157.69v-644.62q0-23.53 17.08-40.61T237.69-860h484.62q23.53 0 40.61 17.08T780-802.31v644.62q0 23.53-17.08 40.61T722.31-100Zm-496.92-45.39v-669.22 669.22Zm0-191.92v-45.38 45.38Z"/>
                        </svg>
                    </div>
                    <div class="text">Relatórios</div>
                </div>
            </div>

        </div>
    </nav>

    <!-- BOTÃO SAIR -->
    <button class="logout-btn" onclick="window.location.href='{% url "login" %}'">Sair</button>

    <div class="sidebar-footer">
        <button class="toggle-btn" onclick="toggleSidebar()"></button>
    </div>

</aside>

<!-- MAIN -->
<main class="main">

    <!-- TOPBAR -->
    <div class="topbar">

        <div class="left">
            <button class="toggle-btn" onclick="toggleSidebar()">
                <svg xmlns="http://www.w3.org/2000/svg" height="38px" 
                     viewBox="0 -1050 960 960" width="38px" fill="#000000">
                     <path d="M140-254.62V-300h680v45.38H140Zm0-202.69v-45.38h680v45.38H140ZM140-660v-45.38h680V-660H140Z"/>
                </svg>
                
            </button>
            <h2 id="screen-title">Início</h2>
        </div>

        <div class="user-info">
            {% if usuario %}
                  <svg xmlns="http://www.w3.org/2000/svg" height="65px" 
                      viewBox="0 -960 960 960" width="24px" fill="#000000">
                      <path d="M702-480 560-622l57-56 85 85 170-170 56 57-226 226Zm-342 0q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 260Zm0-340Z"/>
                  </svg>
                  <h3>{{ usuario }}</h3>
            {% endif %}
        </div>

    </div>

    <!-- CONTEÚDO PRINCIPAL -->
    <section id="screen" class="card">
        <h3>Bem-vindo, {{ usuario }}</h3>
        <p>Use o menu à esquerda para navegar.</p>
    </section>

</main>

<!-- JS -->
<script src="{% static 'js/inicio.js' %}"></script>

</body>
</html>
