{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Lista | Grupo de Propriedades</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/lista.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal_gp.css' %}">

    <!-- Scripts -->
     <script>
        // gera exemplo: "/delete-grupo/0/" e remove o zero
        window.DELETE_URL_BASE = "/delete-grupo/";
    </script>

    <script src="{% static 'js/lista.js' %}" defer></script>
</head>

<body data-page="lista">

    <!-- TOPBAR -->
    <div class="topbar">
        <h3>Lista de Grupo de Propriedades</h3>

        <!-- BOTÃO QUE ABRE O MODAL -->
        <button id="btnNovoGrupo" class="btn-novo-grupo">
            Novo Grupo
        </button>
    </div>

    <!-- MODAL -->
    <div id="modal-overlay" class="gp-overlay" style="display: none;">
        <div class="gp-modal">

            <h2>Adicione um novo Grupo</h2>

            {% if messages %}
              <div class="gp-alert">
                  {% for message in messages %}
                      <p>{{ message }}</p>
                  {% endfor %}
              </div>
            {% endif %}

            <form method="POST" action="{% url 'add_grupo' %}">
                {% csrf_token %}

                <div class="gp-row">

                    <!-- Código escondido corretamente -->
                    <input type="hidden" id="codigo" name="codigo" value="{{ proximo_codigo }}">

                    <div class="gp-field gp-descricao">
                        <label for="descricao">Descrição</label>
                        <input type="text" id="descricao" name="descricao" style="text-transform: uppercase;">
                    </div>

                </div>

                <div class="gp-buttons">
                    <button type="button" class="gp-cancelar" id="btnCancelarModal">Cancelar</button>
                    <button type="submit" class="gp-confirmar">Confirmar</button>
                </div>

            </form>

        </div>
    </div>

    <!-- TABELA -->
    <table class="tabela">
        <tr class="labels">
          <th></th>
          <th>Código</th>
          <th>Descrição</th>
        </tr>

        {% for p in grupo_propriedade %}
        
            <tr class="lista">
                <td>
                    <button class="botao_excluir" data-id="{{ p.cod_grupo_propriedade }}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" 
                            viewBox="0 -960 960 960" width="24px" fill="#000000">
                            <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                        </svg>
                    </button>
                </td>
                <td>{{ p.cod_grupo_propriedade }}</td>
                <td style="text-transform: uppercase;">{{ p.des_grupo_propriedade }}</td>
            </tr>
        
        {% empty %}
        <tr>
            <td colspan="3" class="nenhum">Nenhum grupo encontrado.</td>
        </tr>
        {% endfor %}
    </table>


    {% if messages %}
    <div id="mensagens" style="padding: 10px; margin-bottom: 15px;">
        {% for m in messages %}
            <div class="alert {{ m.tags }}">
                {{ m }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

</body>

</html>
