<!-- Título da seção 
<h3>Lista de Grupo de Propriedades</h3>
-->

<style>

.topbar{
      display:flex;
      align-items:center;
      justify-content:space-between; /* <-- para alinhar usuário à direita */
      gap:12px;
      margin-bottom:12px;
    }

</style>

    <!-- Topbar com título à esquerda e botão à direita -->
    <div class="topbar">
        <!-- Título da seção -->
        <h3>Lista de Grupo de Propriedades</h3>

        <!-- Botão no canto direito -->
        <button style="padding: 6px 12px; cursor: pointer;">
            Novo Grupo
        </button>
    </div>


<!-- Início da tabela que exibirá a lista de propriedades -->
<table style="border-collapse: collapse; width: 100%;">
    
    <!-- Cabeçalho da tabela -->
    <tr>
        <!-- Cabeçalho da primeira coluna: "Código" -->
        <th style="border: 1px solid #000; padding: 5px; text-align: left;">Código</th>
        
        <!-- Cabeçalho da segunda coluna: "Descrição" -->
        <th style="border: 1px solid #000; padding: 5px; text-align: left;">Descrição</th>
    </tr>
    
    
    
    <!-- Início do loop Django que percorre a lista 'grupo_propriedade' -->
    {% for p in grupo_propriedade %}
    
    <!-- Cada item da lista gera uma nova linha na tabela -->
    <tr>
        <!-- Exibe o código da propriedade atual -->
        <td style="border: 1px solid #000; padding: 8px;">{{ p.cod_grupo_propriedade }}</td>
        <!-- Exibe a descrição da propriedade atual -->
        <td style="border: 1px solid #000; padding: 8px;">{{ p.des_grupo_propriedade }}</td>
        
    </tr>
    
    

    <!-- Caso a lista 'grupo_propriedade' esteja vazia -->
    {% empty %}
    
    <!-- Linha única informando que não há registros -->
    <tr>
        <!-- 'colspan="3"' faz a célula ocupar 3 colunas (mesmo que só haja 2 aqui, é inofensivo) -->
        <td colspan="3" style="border: 1px solid #000; padding: 8px; text-align: center;">
            Nenhum produto encontrado.
        </td>
    </tr>
    x
    <!-- Fim do loop 'for' -->
    {% endfor %}

    
</table>

