<!-- Overlay do modal -->
<div id="modal-overlay" class="gp-overlay" style="display: none;">
    <div class="gp-modal">

        <h2>Cadastro de Grupo</h2>

        <form method="POST" action="/grupo-propriedade/add/">
            {% csrf_token %}

            <div class="gp-row">
                <div class="gp-field">
                    <label for="codigo">Código</label>
                    
                    <input type="text" id="codigo" name="codigo" value="{{ proximo_codigo }}" readonly>
                </div>
                <div class="gp-field">
                    <label for="descricao">Descrição</label>
                    <p>
                    <input type="text" id="descricao" name="descricao">
                </div>
            </div>

            <div class="gp-buttons">
                <!-- Fecha o modal -->
                <button type="button" class="gp-cancelar" id="btnCancelarModal">
                    Cancelar
                </button>

                <button type="submit" class="gp-confirmar">
                    Confirmar
                </button>
            </div>

        </form>

    </div>
</div>
